@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;


}



/* menu responsivo*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    background: #fff;
    z-index: 1000;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(221, 221, 221, 0.75);
}

header .logo {
    width: 70px;
    margin-left: 120px;
}

header #navMenu {
    margin-right: 120px;
}

header nav a {
    color: #000;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.menu-icon {
    display: none;
    font-size: 1.5em;
}

nav {
    display: flex;
}

.titu p {
    font-size: 30px;
    text-align: center;
    margin: 85px 0px;
}


/* fim do menu responsivo*/

/* banner Roberto Mange*/
.banner {
    padding-top: 70px;
    background-color: #E10613;
    height: 436px;
}

.banner img {
    width: 25%;
    margin-left: 100px;
}

.bannerText {
    margin-top: -350px;
    margin-left: 50%;
    margin-right: 120px;
    text-align: justify;
    color: #fff;
}

/* /fim do banner Roberto Mange/ */

/* /Roberto Mange/ */


.caixas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
}

.caixa {
    box-shadow: 0px 4px 5px 3px rgba(61, 61, 61, 0.75);
    border-radius: 5%;
    padding: 25px 50px 50px 50px;
    max-width: 250px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.caixaImg {
    margin-top: -100px;
}

.caixaConteudo {
    overflow: hidden;
}

.caixa h3 {
    color: #0F7292;
    font-weight: 600;
}

.caixa p {
    font-size: 14px;
    word-wrap: break-word;
    margin: 0;
}

main section .caixas .caixa:hover {
    transform: scale(1.01);
    transition: 0.5ms;
}

/* fim Roberto Mange*/

/* sua trajetoria*/
#trajetoria {
    text-align: center;
    /* margin-top: 50px; */
    padding: 0px 120px;
}

/* #trajetoria section img {
    width: 40%;
} */

.content-container {
    display: flex;
    align-items: center;
}

.content-container img {
    width: 500px;
}

.carrossel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrossel {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    position: relative;
}

.carrossel-item {
    min-width: 10%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}

.carrossel-controls {
    margin-top: 10px;
}

.seta {
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
}

.bolinhas {
    margin-top: 10px;
}

.bolinha {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #888;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.bolinha.ativo {
    background-color: #333;
}

/* fim sua tragetoria*/

/* slider */
#slider {


    text-align: center;
    margin: 20px auto 0 200px;

}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    padding: 40px 100px 100px 100px;
    border-radius: 15px;
    border: 3px solid #ccc;
    background: linear-gradient(to left, #017F8E, #0296A2, #04AEB7);
    /* position: relative; */
    z-index: 1;
    margin-top: -80px;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}



.slide-content {
    height: 40px;
    /* font-size: 20px; */
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 1.5;
    height: 200px;
}

#slides .slide {
    width: 25%;
    float: left;
    display: block;
    height: 100%;
    color: #fff;
}


.slide-content {
    padding: 10px;
}

#controls {
    margin: -130px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: 0.4;

}

#controls label:hover {
    opacity: 1;
}



#bullets {
    margin: 15px 0px;
    z-index: 1000;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
    background: #444;
}

/* fim slider*/


/* Ultimos RobertoMange*/
#ultimoRM {
    text-align: center;
    font-size: 25px;
    margin-top: 80px;
}

.caixasRM {
    background: #E10613;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 100px 0 30px; */
    /* height: 450px; */
}

.data p {
    color: white;
    font-weight: 500;
}

.imagemVencedor img {
    width: 200px;
    height: 200px;
    border-radius: 60%;
    border: 2px solid;
}

.ano {
    margin-top: -100px;
    margin-bottom: 50px;
}


.caixaRM {
    box-shadow: 0px 4px 5px 3px rgba(61, 61, 61, 0.75);
    background-color: #fff;
    border-radius: 5%;
    /* padding: 40px 45px; */
    max-width: 250px;
    text-align: center;
    /* margin-left: 60px;
    margin-right: 60px; */
    height: 265px;
}


.caixaConteudoRM {
    overflow: hidden;
}

.caixaRM h3 {
    margin: 0;
}

.caixaRM .curso {
    font-size: 25px;
    word-wrap: break-word;
    margin: 0;
}

/* fim Ultimos RobertoMange*/

/* requisitos*/
#requisitos {
    /* height: 50px; */

    font-size: 25px;
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
}

.caixaRQ {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.caixasRQ {
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    text-align: justify;

}

.caixaRQ img {
    margin-right: 50px;

    height: 50px;
}

/* fim requisitos*/

/* reconhecimento*/

#reconhece {
    margin: 0 120px 50px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#reconhece .grupo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    flex: 1;
    text-align: justify;
}

#reconhece .titulo {
    font-size: 35px;
    padding-bottom: 50px;
    color: #FE3838;
    font-weight: 700;
    text-align: center;
}

#reconhece .homem {
    width: 300px;
    max-width: 100%;
    flex-shrink: 0;
}




/* fim reconhecimento*/



/* footer*/


footer {

    background-color: #2F2F2F;
    color: #fff;


}

footer .tudo .topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;

}

footer .tudo {
    margin-top: 0px;
    margin-right: 100px;
    margin-left: 100px;


}



footer .tudo .topo .logo {
    width: 150px;
}

footer .tudo .topo .redes {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding-top: 15px;
}

footer .tudo .meio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    padding-bottom: 15px;
}

footer .tudo .meio .texto {
    margin-top: -10px;
}

footer .tudo hr {
    margin-top: 15px;
    width: 100%;
    height: 2px solid black;
}

footer .tudo .baixo {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    align-items: center;

}

footer .tudo .baixo .resto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    padding-bottom: 15px;
}

footer .tudo .topo a {
    width: 20px;


}

footer .tudo .topo a i {
    width: 100%;
}

footer .tudo .topo .redes a i {
    width: 100%;
}


footer .tudo .topo .redes a {
    color: #E10613;

}

/* fim footer*/

@media (max-width: 850px) {

    /* menu reponsivo */
    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #fff;
        position: absolute;
        top: 60px;
        left: 0;
    }

    nav a {
        padding: 10px;
        border-top: 1px solid #444;
    }

    nav a:first-child {
        border-top: none;
    }

    header .menu-icon {
        display: block;
        margin-right: 10px;
    }

    header .logo {
        width: 70px;
        margin-left: 10px;
    }

    /* fim menu reponsivo */
    .banner img {
        display: none;
    }

    /* .caixas {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
       
    } */
    /* .banner  {
    
    margin-left: 30px;
        margin-right: 30px;
        justify-content: space-between;
        display: flex;
    }
    .banner .bannerText{
        width: 100%;
    } */

    .caixas {
        flex-direction: column;
        align-items: center;
    }

    .caixa {
        width: 80%;
        margin: 50px 0;
    }

    .trajetoria-img {
        width: 80%;
        margin: 20px 0;
    }

    #slides {
        max-width: calc(100% - 40px);
    }

    footer .tudo .topo,
    footer .tudo .baixo {
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    #reconhece {
        margin: 20px 30px;
        flex-direction: column;
        align-items: center;
    }

    #reconhece .grupo {
        width: 100%;
        margin: 20px 0;
        text-align: justify;
    }

    #reconhece .titulo {
        font-size: 20px;
        padding: 20px 0;
    }

    #reconhece .homem {
        margin: 20px 0;
    }
}

#requisitos {
    margin-left: 30px;
    margin-right: 30px;
}


.caixasRM {
    display: flex;
    flex-direction: column;
    /* Coloca uma caixa abaixo da outra */
    align-items: center;
    /* Centraliza as caixas */
    width: 100%;
}

.caixaRM {
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.caixaRM .ano {
    font-size: 18px;
    margin-bottom: 10px;
    /* Espaço entre o ano e o conteúdo */
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 60px;
    margin-top: -20px;
    /* Ajuste para centralizar o texto */
    z-index: 10;
    /* Garante que o ano fique acima do conteúdo */
}

.caixaRM .caixaImgRM {
    width: 80px;
    height: auto;
    border-radius: 50%;
    /* Para imagens redondas */
    margin-bottom: 10px;
}

.caixaRM .caixaConteudoRM {
    text-align: center;
    width: 100%;
}

.caixaRM .caixaConteudoRM h3 {
    margin-top: 0;
}

.caixaRM .caixaConteudoRM p {
    font-size: 14px;
}

.caixaRM:after {
    content: '';
    display: block;
    width: calc(100% - 20px);
    /* Largura da linha menos o padding */
    height: 1px;
    background-color: #ccc;
    margin-top: 10px;
    /* Espaço acima da linha */
    margin-bottom: 10px;
    /* Espaço abaixo da linha */
}


.banner {
    flex-direction: column;
}

.banner img {
    display: none;
}

.bannerText {
    margin: 0 30px;
}


/* .caixaRM {
        margin: 20px 0;
        max-width: 60%;
    } */

.Gustavo {
    width: 83%;
    margin-right: 15px;
}

.ano {
    margin-top: 20px;
}

/* .content-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    } */
#trajetoria {
    padding: 0 20px;
}

.content-container {
    flex-direction: column;
    align-items: center;
}

.content-container img {
    width: 100%;
    max-width: 300px;
}

#slider {
    margin: 20px auto;

}

#slides {
    padding: 0 30px;
    padding-bottom: 100px;
    margin-top: -10px;
    width: 250px;
    height: 110px;
}

.slide-content {
    height: 100px;
    /* padding-bottom: 190px; */
}

#slides .inner {
    height: 300px;
    /* width: 200px; */
}

#slides .slide {
    width: 25%;
    /* float: left; */
    /* display: block; */
    height: 380px;
    /* color: #fff; */
}

#controls {
    margin: -40px 0 0 0;
}

#controls label {
    display: inline-block;
}